.frame {
  background-color: #ffffff;
  display: flex;
  position:absolute;
  top: 0px;
  left: 0px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 919px;
}

.frame .overlap-group {
  position: relative;
  width: 1077px;
  height: 3px;
}

.frame .subtract {
  position: absolute;
  width: 694px;
  height: 1077px;
  top: 0;
  left: 29;
}

.frame .rectangle {
  position: absolute;
  width: 1920px;
  height: 1077px;
  top: 0;
  left: 0;
  background-color: #003153;
}

.frame .img {
  position: absolute;
  width: 723px;
  height: 1080px;
  top: 0;
  left: 0;
}

.frame .div {
  position: absolute;
  width: 649px;
  height: 204px;
  top: 680px;
  left: 1049px;
  background-color: #00d1ff;
  border-radius: 58px;
}

.frame .logo {
  position: absolute;
  width: 162px;
  height: 146px;
  top: 38px;
  left: 874px;
}

.frame .text-wrapper {
  top: 710px;
  left: 1093px;
  color: #000000;
  font-size: 64px;
  text-align: center;
  position: absolute;
  font-family: "Gilda Display-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

#wrapper{
  width: 500px;
  height: 450px;
  position: absolute;
  top:700px;
  left:1120px;
  color: #ffffff;
  font-size: 64px;
  font-family: "Gilda Display-Regular", Helvetica;
  text-align: center;
  letter-spacing: 0;
  text-decoration: none;
  line-height: normal;
}

.frame .p {
  width: 1073px;
  top: 180px;
  left: 847px;
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  font-family: "Gilda Display-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-2 {
  width: 820px;
  top: 430px;
  left: 969px;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  position: absolute;
  font-family: "Gilda Display-Regular", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-3 {
  width: 837px;
  top: 38px;
  left: 1052px;
  color: #ffffff;
  font-size: 128px;
  position: absolute;
  font-family: "Gilda Display-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
